In [1]:
# Question No 1

In [5]:
def fibonacci(num):
    if(num==0):
        return 0
    elif(num==1):
        return 1
    else:
        return (fibonacci(num-1) + fibonacci(num-2))

In [6]:
num=int(input("Enter a Number : "))
if(num<0):
    print("Enter a Positive Number ")
else:
    for i in range(num):
        print(fibonacci(i), end=" ")

Enter a Number : 10
0 1 1 2 3 5 8 13 21 34

In [2]:
# Question No 2

In [3]:
def fact(n):
    if(n==0):
        return 0
    elif(n==1):
        return 1
    else:
        return n*fact(n-1)

In [4]:
fact(5)

120

In [7]:
# Question No 3

In [11]:
weight=float(input("Enter Your Weight in KG    "))
height=float(input("Enter Your Height in Metre "))
BMI=round((weight)/(height*height),2)
print(f'Your BMI is {BMI} ')

Enter Your Weight in KG    60
Enter Your Height in Metre 1.52
Your BMI is 25.97

In [12]:
# Question 4

In [14]:
import math
num=int(input("Enter a Number "))
print (f'Natural Logarithm of {num} is equal to {round(math.log(num),2)}')

Enter a Number 2
Natural Logarithm of 2 is equal to 0.69

In [15]:
# Question No 5

In [16]:
num=int(input("Enter a Number "))
sum=0
for i in range(1,num+1):
  sum+=i*i*i
print(f'Sum of Cube of all Natural Numbers upto {num} is equal to {sum}')

Enter a Number 3
Sum of Cube of all Natural Numbers upto 3 is equal to 36