# Question 1 to Question 11

In [1]:
L=[1,2,3,4,5,6,7,8,9,10]

In [2]:
# Question 1
print(f'Sum of all Elements of List L is equal to : {sum(L)} ')

Sum of all Elements of List L is equal to : 55

In [8]:
# Question 2
res=1
for i in L:
  res=res*i
print(f'Productof all Elements of List L is equal to : {res} ')

Productof all Elements of List L is equal to : 3628800

In [9]:
# Question 3
print(f'Minimum among all Elements of List L is equal to : {min(L)} ')

minimum among all Elements of List L is equal to : 1

In [10]:
# Question 4
print(f'Maximum among all Elements of List L is equal to : {max(L)} ')

Maximum among all Elements of List L is equal to : 10

In [13]:
# Question 5
temp_list=sorted(L,reverse=True)
print(f'Second Largest among all Elements of List L is equal to : {temp_list[1]} ')

Second Largest among all Elements of List L is equal to : 9

In [15]:
# Question 6
N=int(input("Enter Value of N : "))
temp_list=sorted(L,reverse=True)
print(f'{N} Largest Numbers among all Elements of List L is equal to : {temp_list[0:N]} ')

Enter Value of N : 4
4 Largest Numbers among all Elements of List L is equal to : [10, 9, 8, 7]

In [19]:
# Question 7
l1=[]
for i in L:
  if(i%2==0):
    l1.append(i)
print(f'All the Even Numbers from List L are {l1} ')

All the Even Numbers from List L are [2, 4, 6, 8, 10]

In [18]:
# Question 8
l2=[]
for i in L:
  if(i%2!=0):
    l2.append(i)
print(f'All the Odd Numbers from List L are {l2} ')

All the Odd Numbers from List L are [1, 3, 5, 7, 9]

In [20]:
# Question 10
copied_list_1=L.copy()
copied_list_2=list(L)
print(f'1st Copy of List L : {copied_list_1} ')
print(f'2nd Copy of List L : {copied_list_2} ')

1st Copy of List L : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
2nd Copy of List L : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
# Question 11
from collections import Counter
print(Counter(L))

Counter({1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1, 9: 1, 10: 1})

# Question 9

In [26]:
L=[1,2,3,4,[],5,6,7,8,9,10]
for i in L:
  if(i==[]):
    L.remove(i)
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]